anyio==3.6.2
asgiref==3.4.1
certifi==2021.5.30
click==8.0.4
colorama==0.4.5
contextlib2==21.6.0
contextvars==2.4
fastapi==0.83.0
h11==0.13.0
idna==3.4
immutables==0.19
importlib-metadata==4.8.3
pandas==1.1.5
Pillow==8.4.0
pydantic==1.9.2
python-dateutil==2.8.2
pytz==2023.3
scipy==1.5.4
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
typing_extensions==4.1.1
wincertstore==0.2
zipp==3.6.0